@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
}

html {
    color: #333;
    font-size: 1em;
    line-height: 1.42857143;
    font-family: "Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif";
    overflow-y: scroll;
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 1.25em;
    }
}

h1 {
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

small {
    font-size: 0.833em;
}

.box {
    padding: 1.25em;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -65px;
}

.flexy {
    display: flex;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 65px;
}

@media screen and (min-width: 1400px) {
    body, html {
        font-size: 1.25em;
    }
}

.content-area {
    max-width: 60em;
    margin: 0 auto;
    padding-top: 15px;
}

body, html {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;   
    height: 100%;
    color: #555;
    background-color: #eceff1;
}

.busyable {
    position: relative!important;
    min-height: 500px;
}

.app-header {
    background: #fff;
}

.app-footer {
    padding: 1.5em 0;
    height: 100%;
    font-size: 0.9em;
    background: #fff;
    text-align: center;
}

.my-card {
    padding: 1em;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(220, 220, 220, 0.12), 0 1px 2px rgba(177, 169, 169, 0.24);
    margin-bottom: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

button.next-button {
    width: 100%;
}

.padding-shrink-right {
    padding-right: 7px;
}

.padding-shrink-left {
    padding-left: 7px;
}

@media (max-width: 768px) {
    .padding-shrink-right {
        padding-right: 15px;
    }
    .padding-shrink-left {
        padding-left: 15px;
    }
}

.form-group label {
    margin-bottom: .2rem!important;
}

.options-button {
    color: #546E7A;
    border-radius: 2px;
    font-size: 14px;
    padding: 3px 3px 3px 10px;
    border: 1px solid #cfd8dc;
    background: #ECEFF1;
    color: #455A64;
    border-color: #cfd8dc;
}

.box-content {
    padding-top: 10px;
}

.open-link {
    color: #337ab7;
    text-decoration: underline;
    font-size: 15px;
}

.search-button {
    position: absolute;
    top: 0;
    padding: 5px 15px;
    background-color: green;
    height: 60px;
}

.padding-shrink-right {
    padding-right: 4px;
}

.padding-shrink-left {
    padding-left: 4px;
}

@media (max-width: 47.9em) {
    .padding-shrink-right {
        padding-right: 15px;
    }
    .padding-shrink-left {
        padding-left: 15px;
    }
}

.btn{
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #5d8fc2;
    border-color: #4a82bb;
}