<!--<div style="flex:1">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-sm-12">-->
<div class="my-card flexy">
    <div class="plugins-container">
        <ul class="plugin-item-container">
            <!--<div *ngFor='let plugin of appliedPlugins' draggable style="position:relative;" class='plugin-item'>
                <p><a href="">{{plugin.pluginName}}</a></p>

            </div>-->

            <li *ngFor="let plugin of appliedPlugins" [class.active]='plugin.active' class='plugin-item' (click)="selectPlugin(plugin)">
                <div class="content">
                    {{plugin.pluginName}}
                </div>
                <div class="button-group">
                    <span class='up' [hidden]='isLast(plugin)' (click)='pluginUp(plugin)'>            
                        <i class="fa fa-arrow-up"></i>               
                    </span>
                    <span class='down' [hidden]='isFirst(plugin)' (click)='pluginDown(plugin)'>             
                        <i class="fa fa-arrow-down"></i>              
                    </span>
                </div>
            </li>
        </ul>
        <span class="button-new" (click)="menuVisible = true; ">
            <figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
            <path d="M15,6h-5V1c0-0.55-0.45-1-1-1H7C6.45,0,6,0.45,6,1v5H1C0.45,6,0,6.45,0,7v2c0,0.55,0.45,1,1,1h5v5c0,0.55,0.45,1,1,1h2  c0.55,0,1-0.45,1-1v-5h5c0.55,0,1-0.45,1-1V7C16,6.45,15.55,6,15,6z"/></svg></figure>
        </span>
        <div class="plugin-menu-container" *ngIf='menuVisible'>
            <ul class="plugin-menu">
                <li class="plugin-menu-item" *ngFor="let plugin of plugins" (click)="addNewPlugin(plugin); menuVisible = false;">
                    {{plugin.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="plugin-props">
        <!--<dynamic-fform [options]="activePlugin?.options" (changed)='activePlugin.config=$event'></dynamic-fform>-->
          <dynamic-fform [plugin]="activePlugin"></dynamic-fform>
    </div>


</div>


<!--</div>-->
<!--<div class="col-md-12 col-lg-3 col-sm-12">-->
<button type="button" (click)="onSubmit()" class="btn btn-primary next-button">
           <i class="fa fa-arrow-right" aria-hidden="true"></i>
                Next
        </button>
<!--</div>
    </div>
</div>-->