<header>
    <nav class="navbar navbar-light app-header">
        <a [routerLink]="['/']" class="navbar-brand">200Loc-Gate</a>
        <ul class="nav navbar-nav  pull-xs-right" *ngIf="!isAuthenticated">
            <li class="nav-item">
                <a [routerLink]="['/login']" class="nav-link">Log In</a>
            </li>
        </ul>
        <ul class="nav navbar-nav  pull-xs-right" *ngIf="isAuthenticated">
            <li class="nav-item">
                <a [routerLink]="['/settings']" class="nav-link">
                    <span>Hello, {{username}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" (click)="signOut()" class="nav-link">
                    <span>Log off</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
